<!DOCTYPE html>
<html>
<head>
  <title>AdminWeb</title>
  <%= stylesheet_link_tag    "admin_web/application", media: "all" %>
  <%= javascript_include_tag "admin_web/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= render 'shared/navbar' %>
</header>

<section>
  <div class="container-fluid">
    <%= render 'shared/notice' %>
    <div class="col-md-12">
      <%= yield %>
    </div>
</section>
</div>

</body>
</html>
