<nav id="nav" class="nav-primary hidden-xs nav-vertical">
  <ul class="nav" data-spy="affix" data-offset-top="50">
    <li class="active"><a href="index.html"><i class="fa fa-dashboard fa-lg"></i><span>Dashboard</span></a></li>
    <% if can? :read, AdminWeb::Post %>
      <%= menu_link AdminWeb::Post.model_name.human(count: "many"), 'fa fa-file-text-o fa-lg', 'posts', posts_path %>
    <% end %>
    <% if can? :read, AdminWeb::Institutional %>
      <%= menu_link AdminWeb::Institutional.model_name.human(count: "many"), 'fa fa-file-text-o fa-lg', 'institutionals',institutionals_path %>
    <% end %>
    <% if can? :read, AdminWeb::Video %>
      <%= menu_link AdminWeb::Video.model_name.human(count: "many"), 'fa fa-video-camera fa-lg', 'videos', videos_path %>
    <% end %>
    <% if can? :read, AdminWeb::Album  %>
      <%= menu_link AdminWeb::Album.model_name.human(count: "many"), 'fa fa-camera fa-lg', 'albums', albums_path %>
    <% end %>
    <% if can? :read, AdminWeb::Event  %>
      <%= menu_link AdminWeb::Event.model_name.human(count: "many"), 'fa fa-calendar fa-lg', 'events', events_path %>
    <% end %>
    <% if can? :read, AdminWeb::User %>
      <%= menu_link AdminWeb::User.model_name.human(count: "many"), 'fa fa-user fa-lg', 'users', users_path %>
    <% end %>
  </ul>
</nav>
