<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "panel-body"}) do |f| %>
  <div class="block">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>
  <div class="block">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <%= render "devise/shared/links" %>

  <%= f.submit I18n.t('buttons.signin'), class: "btn btn-info" %>
  <div class="line line-dashed"></div>

<% end %>
