<div class="row">
  <div class="col-md-8">
    <%= simple_form_for @video, html: { class: "form-horizontal", role: "form"} do |f| %>

        <%= f.input :description %>

        <%= f.input :link %>

      <hr>
      <div class="form-actions">
        <%= f.submit 'Salvar', class: "btn btn-success" %>
        <%= link_to 'Apagar', @video, method: :delete, data: {confirm: 'Tem certeza que deseja remover esse registro?'}, class: 'btn btn-danger' %>
        <%= link_to 'Cancelar', videos_path, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>

</div>
